@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
    width: 1000px;
    padding: 50px;
    margin: 0 auto;
    color: #444;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
body.remark-container {
    padding: 0;
    margin: 0;
}

h1 {
    color:#222;
    margin:0 0 20px;
}
h2 {
    color:#393939;
}
h3, h4, h5, h6 {
    color:#494949;
}

a {
    color:#39c;
    font-weight:400;
    text-decoration:none;
}

header span.sep {
    padding: 0 10px;
}

@media screen and (max-width: 1000px) {
    body {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        font-size: 150%;
    }
}
