@import url(global.css); 
body {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
/*
    font:14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#444;
*/
}

header {
    float: none;
    position: relative;
    margin-bottom: 50px;
    z-index: 999;
}

/*
a {
    color:#691;
    text-decoration:none;
    font-weight: 500;
}
*/

/* pour les blocs de codes */
.myCodeA {
    display: inline-block;
    width: 194px;
    height: 100px;
    border: solid 1px #c7c7c7;
    margin: 2px;
}
.myCcodeDIV {
}