/* pour les blocs de codes */
.myCodeA {
    display: inline-block;
    font-size: 120%;
    width: 194px;
    height: 100px;
    border: solid 1px #c7c7c7;
    margin: 2px;
    vertical-align: top;
}

@media screen and (max-width: 600px) {
    .myCodeA {
        display: block;
        font-size: 100%;
        border: 0;
        width: auto;
        height: auto;
    }
}
