@import url(global.css); 
body {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1100px) {
    body {
        width: 100%;
    }
    #content, header {
        padding: 0 50px;
    }
}

header {
    float: none;
    position: relative;
    margin-bottom: 30px;
    z-index: 999;
}


/* pour les blocs de codes */
.myCodeA {
    display: inline-block;
    width: 194px;
    height: 100px;
    border: solid 1px #c7c7c7;
    margin: 2px;
}
.myCcodeDIV {
}