#mediane {
    fill: transparent;
    stroke: black;
    stroke-width: 2px;
}

#reference {
    stroke: #666;
    stroke-width: 2px;
    stroke-dasharray: 10 5;
}

.intervale {
    fill: #aaa;
    visibility: hidden;
}

.axis path {
    fill: transparent;
    stroke: #333;
}