body {
    width: 1000px;
    margin: 0 auto;
    font:14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#444;
}
footer {
    position: fixed;
    bottom: 0;
    margin-top: 30px;
}
a {
    color:#691;
    text-decoration:none;
    font-weight: 500;
}

/* pour les blocs de codes */
.myCodeA {
    display: inline-block;
    width: 194px;
    height: 100px;
    border: solid 1px #c7c7c7;
    margin: 2px;
}
.myCcodeDIV {
}