h1, p {
    text-align: center;
}
#map {
    margin: 0 auto;
}

.departement {
    opacity: 0.5;
    fill: #888;
    stroke: #444;
    stroke-width: 1px;
}
.departement:hover {
    opacity: 1;
    stroke: #000;
}


/* tooltip */
#tooltip {
    display: none;
    z-index: 999;
    position: absolute;
    padding: 25px;
    background-color: #bbb;
    width: 250px;
    border: 2px solid #999;
    border-radius: 25px;
}
#tooltip p {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    text-align: left;
}
#tooltip p:first-of-type {
    margin-left: 0;
}

#graph path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

#graph line {
    stroke: black;
}

#graph text {
    font-family: Arial;
    font-size: 9pt;
}