<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Arvo|Open+Sans" rel="stylesheet">
            <script src="https://use.fontawesome.com/0b43a1d440.js"></script>
            <link rel="stylesheet" type="text/css" href="/css/main.css">            
		</head>
		<body>
			<nav>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/fxjollois" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
                    <li><a href="http://fr.linkedin.com/in/fxjollois" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/fxjollois" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="http://rpubs.com/fxjolloisUPD" target="_blank"><i class="fa fa-user fa-2x"></i></a></li>
				</ul>
			</footer>
		</body>
	</html>