<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" type = "text/css" href = {{ "/css/slides.css" | relative_url }}>
	</head>
	<body>
		<textarea id="source">
{{ page.content }}
            
		</textarea>
		<script src={{ "/libs/remark.min.js" | relative_url }}></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured" type="text/javascript"></script>
		<script>
			var slideshow = remark.create({
				countIncrementalSlides: false,
				slideNumberFormat: function (current, total) {
					p = Math.round((current - 1) / (total - 1) * 100);
					return '<div id="myProgress"><div id="myBar" style="width: ' + p + '%"></div></div>'
				}
			});
            
            // Setup MathJax
            MathJax.Hub.Config({
                tex2jax: {
                    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
                }
            });
            
            MathJax.Hub.Configured();
		</script>
    
	</body>
</html>