<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" type = "text/css" href = "css/slides.css">
	</head>
	<body>
		<textarea id="source">
			
            {{ content }}
            
		</textarea>
		<script src="libs/remark.min.js"></script>
		<script>
			var slideshow = remark.create({
				countIncrementalSlides: false,
				slideNumberFormat: function (current, total) {
					p = Math.round((current - 1) / (total - 1) * 100);
					return '<div id="myProgress"><div id="myBar" style="width: ' + p + '%"></div></div>'
				}
			});
		</script>
	</body>
</html>